.levelChoice{ 
    position: absolute;
    right: 0;
    opacity: 0;
} 

input{
    font-size:24px;
    border:1px solid rgba(144,144,144,1);
    background-color: rgba(158,173,134,1);
    text-align:center;
}