.levelChoice{
    position: absolute;
    left:700px;
    top:100px;
    width:200px;
}

input{
    font-size:30px;
    border:2px solid rgba(144,144,144,1);
    width:80px;
    margin:10px;
    text-align:center;
}

button{
    width:60px;
    height:25px;
    border:2px solid rgba(144,144,144,1);
}

button:hover{
    background-color: rgba(230,230,230,1);
}